#logo {
height: 700px;
    background: url('CZ\ Logo.jpg') no-repeat center center;
}

p {
    height: 200px; 
    color: brown; 
}

form {
    color: black;
    font: bold;
    height: 60px;
}

img {
    max-height: 300px;
    max-width: 300px;
}